aioesphomeapi==45.0.4
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
async_interrupt==1.2.2
attrs==26.1.0
cffi==2.1.1
chacha20poly1305-reuseable==0.13.2
cryptography==50.0.1
frozenlist==1.8.0
idna==3.19
ifaddr==0.2.0
multidict==6.7.1
noiseprotocol==0.3.1
propcache==0.5.2
protobuf==7.36.1
pycparser==3.0
PyYAML==6.0.3
tzlocal==5.4.4
yarl==1.24.5
zeroconf==0.151.3
